INSTALL
Makefile*
aclocal.m4
config*
po/
ui/gtk3/
tools/

/autom4te.cache
/compile
/depcomp
/engine
/gtk-doc.make
/ibus-1.0.pc
/ibus.spec
/install-sh
/libtool
/ltmain.sh
/missing
/py-compile
/stamp-h1
/test-driver
